.fwave-background {
    background-image: url('./wave.svg'); /* Path relative to the CSS file */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; /* Adjust text color */
    text-align: center;
    padding: 20px;
  }